<!-- <div style='display: grid; grid-template-columns: 450px auto'>
  <kendo-stepper
      [style.width.px]="350"
      [steps]="steps"
      [stepType]="'full'"
      [orientation]="'vertical'">
      <ng-template kendoStepperStepTemplate let-step let-i="index">
        <div class="custom-step">
          <span class='k-step-indicator'>
            <span class='k-step-indicator-text'>{{i+1}}</span>
          </span>
          <span class='k-step-label'>
            <span class='k-step-text'>{{step.label}}</span>
          </span>
        </div>
    </ng-template>
  </kendo-stepper>
</div> -->
<div class="p-2">
  <app-customer-order></app-customer-order>
</div>